@import (reference) '../../../Style/App.less';

@selected-item-bg: lighten(@list-group-active-bg, 40%);

.Items.ListItems {
  .Panel-Item,
  .TablePanel tr,
  &.TreeItems .TreeItem > .TreeItem-Header {
    &.Selected {
      background-color: @selected-item-bg;
      border-color: @selected-item-bg;
      outline: none;
    }
  }

  &.Grid .TablePanel {
    th,
    td {
      // setting height to 1px allows cell content to stretch to 100% and cells to stretch all
      // content to the max height of all cells
      height: 1px;
      padding: 0;
      vertical-align: middle;

      &.NavButtonColumn {
        width: 49px;

        // stylelint-disable selector-max-specificity
        .GridViewColumn-cellContent {
          height: 100%;
          padding: 0;
          position: relative;
        }
        // stylelint-enable selector-max-specificity
      }
    }

    .GridViewColumn-headerContent,
    .GridViewColumn-cellContent {
      padding: @default-padding;
    }
  }
}
