# mark image files as binary so they do not have their content adjusted by the rule above
*.gif   binary
*.jpg   binary
*.png   binary

# mark font files as binary so they do not have their content adjusted by the rule above
*.eot   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
