/.vscode
/build
/node_modules
/test
/typings

/.babelrc
/.eslintignore
/.eslintrc
/.gitignore
/.stylelintrc.js
/gulpfile.babel.js
/index.html
/npm-debug.log
/tsconfig.json
/tslint.json
/webpack.common.js
/webpack.config.js
