.ComponentDemo {
  & > .container-fluid {
    margin: 0 15px;
  }

  .page-header {
    text-align: center;
  }

  .ComponentDemo-view {
    margin-bottom: 15px;
  }

  .ComponentDemo-footer {
    margin-top: 15px;
  }
}
