.Splash {
  .Splash-header {
    text-align: center;
    margin-bottom: 10px;

    .Splash-headerText {
      margin: 0 10px;
      font-size: 5em;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}
