.Splash {
  .Splash-header {
    margin-bottom: 5px;
    text-align: center;

    .Splash-headerText {
      vertical-align: middle;
      margin: 0 10px;
      font-size: 5em;
      font-weight: bold;
    }
  }
}
