@import '../../../Style/Bootstrap.less';

.List {
  .list-group-item:focus {
    outline: 0;
  }

  .list-group-item.active .TreeItem-button .btn {
    color: @list-group-active-color;
  }

  .list-group-item-expander, .list-group-item-content {
    display: inline-block;
    vertical-align: top;
  }

  .TreeItem-buttonIndent {
    margin: 0 12px;
  }

  .TreeItem-levelIndent {
    margin: 0 10px;
  }
}
