@import (reference) '../../../Style/Bootstrap.less';

.List.list-group {
  margin: 0;

  .list-group-item {
    cursor: pointer;
  }

  .list-group-item.active .TreeItem-button {
    color: @list-group-active-color;
  }

  .TreeItem-button {
    padding: 0 5px;
  }

  .TreeItem-buttonIndent {
    margin: 0 12px;
  }

  .TreeItem-levelIndent {
    margin: 0 10px;
  }

  .list-group-item-selectionIcon,
  .list-group-item-expander,
  .list-group-item-content {
    display: table-cell;
    vertical-align: middle;
  }

  .list-group-item-selectionIcon {
    width: 24px;
  }

  .list-group-item-content {
    width: 100%;
    padding-left: 5px;
  }

  .List-empty {
    margin: 20px;
    font-size: 1.25em;
    text-align: center;
  }
}
