@import (reference) '../../../Style/App.less';

@nav-button-width: 26px;

.NavButton {
  position: relative;
  width: @nav-button-width;
  // stretch the full height of the containing block
  height: 100%;

  // clear default padding and border so we sit flush inside of our container
  padding: 0;
  border: 0;

  // apply contrast hover style
  &:hover {
    color: @list-group-active-color;
    background-color: @list-group-active-bg;
  }

  // center the icon within the button
  & > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
