@import '../../Style/Bootstrap.less';

.PageHeader {
  font-size: 1.25em;

  .PageHeader-brand {
    font-weight: bold;
  }

  .PageHeader-actionButton {
    margin-left: 10px;
  }

  .PageHeader-profilePicture {
    width: 40px;
    height: 40px;
    margin: -10px 0;
  }

  .MenuItem-text {
    margin-left: 5px;
  }
}
