.Alert {
  .close {
    padding: 1px 5px;
  }

  .Alert-text {
    word-wrap: break-word;

    & pre,
    & code {
      margin: 0;
      padding: 0;
      text-align: left;
    }

    pre {
      color: inherit;
      background-color: inherit;
      border: 0;
    }

    code > pre {
      padding: 10px;
    }
  }
}
