@import (reference) '../../../Style/App.less';

.TreeItem {
  // setup header and expansion blocks as css tables that expand horizontally
  // blocks within the tables become the table cells
  & > .TreeItem-Header,
  & > .TreeItem-Expansion {
    display: table;
    width: 100%;

    & > * {
      display: table-cell;
    }

    & > .TreeItem-Indent,
    & > .btn,
    & > .TreeItem-Expander {
      text-align: center;
      width: @button-height;
    }
  }

  & > .TreeItem-Header {
    & > .TreeItem-HeaderContent {
      text-align: left;
    }

    & > .TreeItem-Expander {
      vertical-align: middle;

      // don't use default bootstrap styles for the expander button
      // removing the padding allows the button to appear in the proper center
      & > .btn {
        color: inherit;
        padding: 0;
      }
    }
  }
}
