@import (reference) '../../../Style/App.less';

.Items.Tree {
  & .Panel-Item {
    background: none;
    border: none;
    padding: 0;
  }

  .TreeItem > .TreeItem-Header:hover {
    background: @default-hover-background;
  }

  .TreeItem > .TreeItem-Header {
    border-bottom: 1px solid @list-group-border;
    padding: 5px 0;
  }

  // stylelint-disable selector-max-specificity
  // sadly we need this much specificity to accurately select the last child at
  // depth 0 of this tree view
  & > .ItemsPresenter > .Panel > .Panel-Item:last-child .TreeItem-Header {
    border: none;
  }
  // stylelint-enable selector-max-specificity
}
