.Pager {
  display: table;
  table-layout: fixed;
  width: 100%;

  .Pager-left,
  .Pager-center,
  .Pager-right {
    display: table-cell;
    vertical-align: middle;
  }

  .Pager-left {
    text-align: left;
  }

  .Pager-center {
    text-align: center;
  }

  .Pager-right {
    text-align: right;
  }

  .Pager-controls {
    line-height: 0;

    .pagination {
      margin: 0;
    }
  }
}
