@import (reference) '../../../Style/App.less';

.Pager {
  // center align text by default (for mobile)
  .Pager-col {
    text-align: center;
  }

  // boost the line height of the info component so it aligns vertically with the other parts
  .Pager-info {
    line-height: @button-height;
  }

  // remove the default pagination component margin
  .pagination {
    margin: 0;
  }

  // these styles capture non-mobile screens
  @media (min-width: @screen-sm-min) {
    // we only apply this in non-mobile because the extra height in mobile is desired
    .Pager-col {
      height: @button-height;
    }

    .Pager-col-left {
      text-align: left;
    }

    .Pager-col-center {
      text-align: center;
    }

    .Pager-col-right {
      text-align: right;
    }
  }
}
