.DataGrid {
  .Search {
    margin-bottom: 10px;
  }

  .table {
    margin: 0;
    background-color: #fff;

    th {
      padding: 0;

      .Column.btn {
        width: 100%;
        padding: 5px;
        text-align: left;
        text-decoration: none;

        .Column-sortIcon {
          margin-left: 10px;
        }
      }
    }

    tr.Row--selected {
      font-weight: bold;
    }


  }

  .Pager {
    margin-top: 10px;
  }
}
