@import (reference) '~bootstrap/less/variables.less';
@import url('https://fonts.googleapis.com/css?family=Lato');

@body-color: #333;
@body-font-family: 'Lato', 'Verdana', 'Geneva', 'Tahoma', sans-serif;
@text-muted: #bcbcbc;
@default-hover-background: #ddd;

// full computed height of a button: line height + padding + border
@button-height: @line-height-computed + 2 * (@padding-base-vertical + 1px); // ~34px
