@import (reference) '~bootstrap/less/variables.less';

@body-color: #333;
@text-muted: lighten(@body-color, 40%);
@default-hover-background: lighten(@body-color, 70%);

// full computed height of a button: line height + padding + border
@button-height: @line-height-computed + 2 * (@padding-base-vertical + 1px); // ~34px

@default-padding: 5px;
