@import '../../../Style/Bootstrap.less';

// this style needs to be outside of the App scope so that we don't clobber other
// transition styles
* {
  transition: color 500ms ease-in -200ms, background-color 500ms ease-in -200ms;
}

.App {
  color: @body-color;
  font-family: @body-font-family;

  .float-container {
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: @zindex-navbar-fixed + 1;
    background: none;
    pointer-events: none;
  }
}
