@import '../../../Style/Bootstrap.less';

.App {
  .float-container {
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background: none;
    pointer-events: none;
  }

  .AlertHost {
    margin-top: 10px;
    pointer-events: all;

    .Alert {
      .alert {
        margin-bottom: 10px;
      }
    }
  }
}
