// .ContextMenu {
//   // This style node is only useful for ContextMenu-target
// }

// Context menus get detached from their DOM at this point, so we need two root
// style nodes

.ContextMenu-menu {
  .popover-title {
    font-size: 1.25em;
  }

  .popover-content {
    padding: 0;

    .dropdown-menu {
      float: none;
      position: static;
      border: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
