.Loading {
  font-weight: bold;

  line-height: normal;
  color: #fff;

  .Loading-wrapper {
    position: relative;
    background-color: #777;
    border-radius: 4px;
    height: 70px;
    overflow: hidden;

    .Loading-progress {
      position: relative;
      transition: left 200ms linear;
      z-index: 1;
    }

    .Loading-text {
      position: absolute;
      left: 0;
      font-size: 4em;
      z-index: 2;
      width: 100%;
      text-align: center;
    }
  }
}
