@import '../../../Style/Bootstrap.less';

.PageHeader {
  font-size: 1.25em;

  .PageHeader-brand {
    font-weight: bold;
  }

  .PageHeader-actionButton {
    margin-left: 10px;
  }

  .PageHeader-menuTitle {
    display: inline-block;
  }

  .PageHeader-navUser {
    .PageHeader-menuTitle {
      border-radius: 50%;
      background-color: #ddd;
      overflow: hidden;
    }
  }

  .PageHeader-iconNavItem {
    .dropdown-toggle {
      padding: 5px;
      width: 50px;
      height: 50px;

      .PageHeader-menuTitle {
        display: table;

        span, img {
          width: 40px;
          height: 40px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }

  .MenuItem-text {
    margin-left: 5px;
  }
}
