@import (reference) '../../../Style/Bootstrap.less';

.PageHeader {
  // 51 px corresponds to the height of the navbar (50px) plus its border (1px)
  padding-bottom: 51px;

  // remove the bottom margin on the navbar
  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    font-weight: bold;

    // make the brand button appear like a toggle button for the sidebar
    &.btn {
      &:hover,
      &.active {
        background-color: #ddd;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  // ensure icons have an appropriate margin against the associated text
  .dropdown-menu li > a > .fa,
  .PageHeader-actionButton > .PageHeader-actionHeaderIcon {
    margin-right: 8px;
  }

  // give action buttons 10px of margin between one another
  .PageHeader-actions {
    .PageHeader-actionButton {
      margin-left: 10px;
    }
  }

  // add admin menu tilt animation
  .PageHeader-adminMenu {
    .tilt-animation(tilt-180 200ms 0ms ease-in, tilt-reverse-45 500ms 0ms ease);
  }

  // this prevents icons or images from over-extending this block's height
  .PageHeader-appSwitcherMenu,
  .PageHeader-helpMenu,
  .PageHeader-adminMenu,
  .PageHeader-userMenu {
    .dropdown-toggle {
      line-height: 0;
    }
  }

  // fix navbar centering of the icons
  .PageHeader-appSwitcherMenu,
  .PageHeader-helpMenu,
  .PageHeader-adminMenu {
    .dropdown-toggle {
      // this padding fixes the vertical centering of the cog icon
      padding: 11px 13px;
    }
  }

  // fix navbar centering of the profile image or default user icon
  .PageHeader-userMenu {
    .dropdown-toggle {
      &:hover {
        .ProfilePicture {
          background-color: darken(@navbar-default-link-active-bg, 12%);
        }
      }

      // this padding fixes the vertical padding of the profile image
      padding: 10px;

      .ProfilePicture {
        // don't display any content outside fo our border radius
        overflow: hidden;
        // set the dimensions so that our parent's padding makes sense
        width: 30px;
        height: 30px;

        // these ensure the background makes a circular frame
        background-color: @navbar-default-link-active-bg;
        border-radius: 50%;

        // this ensures our icon or image is square
        & > img,
        .fa {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.Sidebar {
  .nav {
    width: 320px;
    // margin navs between one another
    margin: 0 0 20px;

    & > li > a > .fa {
      margin-right: 8px;
    }
  }
}
