@import (reference) '../../../Style/App.less';

.ProfilePicture {
  text-align: center;

  &.ProfilePicture-icon {
    display: inline-block;
    vertical-align: middle;
    // margin: 5px;
  }

  &.ProfilePicture-iconThumbnail {
    padding: 4px;
    background-color: @thumbnail-bg;
    border: 1px solid @thumbnail-border;
    border-radius: @thumbnail-border-radius;
  }

  &.ProfilePicture-iconRounded {
    border-radius: 4px;
  }

  & > .fa {
    display: inline;
  }

  &.img-responsive {
    width: auto;
    height: 100%;
  }
}
